<div class="jumbotron text-center">
    <h1>Blogtangulous</h1>
    <h2>Leaves in Art</h2>
    <h4>Posted 9:49 am / June 18th, 2015</h4>
    <img class="blogPics" src="img/Summer-Leaves.jpg" />
    <img class="blogPics" src="img/forest.jpg"/>
    <br/>
    <br/>
    <p>A few days ago, I found these gorgeous patterns while I was searching for some inspiration for
    a forest inspired zentangle piece. I could definitely use these for so many other projects that I have
    in mind.</p>

</div>
<div class="jumbotron text-center">
    <h2>Leaves in Art</h2>
    <h4>Posted 9:49 am / June 18th, 2015</h4>
    <img class="blogPics" src="img/Summer-Leaves.jpg" />
    <img class="blogPics" src="img/forest.jpg"/>
    <br/>
    <br/>
    <p>A few days ago, I found these gorgeous patterns while I was searching for some inspiration for
        a forest inspired zentangle piece. I could definitely use these for so many other projects that I have
        in mind.</p>

</div>