<div class="jumbotron text-center">
    <h1>Blogtanglous</h1>
    <h2>Leaves in Art</h2>
    <h4>Posted 9:49 am / June 18th, 2015</h4>
    <img class="blogPics" src="../img/Summer-Leaves.jpg" />
    <img class="blogPics" src="../img/forest.jpg"/>
    <br/>
    <br/>
    <p>A few days ago, I found these gorgeous patterns while I was searching for some inspiration for
    a forest inspired zentangle piece. I could definitely use these for so many other projects that I have
    in mind.</p>
    <div id="socialButtons"><a href="https://www.pinterest.com/pin/create/button/
        ?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F
        &media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg
        &description=Next%20stop%3A%20Pinterest"
                               data-pin-do="buttonPin"
                               data-pin-config="above">
        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
    </a>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="zentange">Tweet</a>
        <a href="mailto:?subject=Twitter Gets More Shoppable With Product Pages And Collections&amp;body=Article:%20http://techcrunch.com/2015/06/19/twitter-product-pages-and-collections/" rel="external" class="email icon-email"></a>
    </div>
</div>
<div class="jumbotron text-center">
    <h2>Leaves in Art</h2>
    <h4>Posted 9:49 am / June 18th, 2015</h4>
    <img class="blogPics" src="../img/Summer-Leaves.jpg" />
    <img class="blogPics" src="../img/forest.jpg"/>
    <br/>
    <br/>
    <p>A few days ago, I found these gorgeous patterns while I was searching for some inspiration for
        a forest inspired zentangle piece. I could definitely use these for so many other projects that I have
        in mind.</p>
    <div id="socialButtons"><a href="https://www.pinterest.com/pin/create/button/
        ?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F
        &media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg
        &description=Next%20stop%3A%20Pinterest"
                               data-pin-do="buttonPin"
                               data-pin-config="above">
        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
    </a>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="zentange">Tweet</a>
        <a href="mailto:?subject=Twitter Gets More Shoppable With Product Pages And Collections&amp;body=Article:%20http://techcrunch.com/2015/06/19/twitter-product-pages-and-collections/" rel="external" class="email icon-email"></a>
    </div>
</div>